[fan_generic Aux_Fan] 
pin: PIN
max_power: 1.0
shutdown_speed: 0
#cycle_time:
#hardware_pwm:
kick_start_time: 0.2
off_below: 0.25
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:

# Replacement-Macro to control the Fan with M106 P2 and M107 for BambuStudio
# Macro inspired by klipper-github issue https://github.com/Klipper3d/klipper/issues/2174
[gcode_macro M106]
rename_existing: G106
gcode:
    {% if params.P is defined %}
        {% if params.P|int == 2 %}
            {% if params.S is defined %}
                {% if params.S|int == 255 %}
                    {% set realspeed = 1 %}
                {% else %}
                    {% if params.S|int == 0 %}
                        {% set realspeed = 0 %}
                    {% else %}
                        {% set realspeed = params.S|float/255 %}
                    {% endif %}
                {% endif %}
            {% else %}
                {% set realspeed = 1 %}
            {% endif %}

            SET_FAN_SPEED FAN=Aux_Fan SPEED={realspeed}
        {% endif %}
    {% else %}
        {% if params.S is defined %}
          G106 S{params.S}
        {% else %}
          G106 S255
        {% endif %}
    {% endif %}

[gcode_macro M107]
rename_existing: G107
gcode:
    {% if params.P is defined %}
      {% if params.P|int == 2 %}
        SET_FAN_SPEED FAN=Aux_Fan SPEED=0
      {% endif %}      
    {% else %}
      SET_FAN_SPEED FAN=Aux_Fan SPEED=0  
      G107
    {% endif %}
    
###############################################    
### Display control
### Adds Fan controls for Auxfan to Displays Control section
###############################################

[menu __main __control __auxfanonoff]
type: input
enable: {'fan_generic Aux_Fan' in printer}
name: Aux Fan: {'ON ' if menu.input else 'OFF'}
input: {printer['fan_generic Aux_Fan'].speed}
input_min: 0
input_max: 1
input_step: 1
index: 9 # Place it right beneath partcooling fan controls
gcode:
    M106 P2 S{255 if menu.input else 0}

[menu __main __control __auxfanspeed]
type: input
enable: {'fan_generic Aux_Fan' in printer}
name: Aux speed: {'%3d' % (menu.input*100)}%
input: {printer['fan_generic Aux_Fan'].speed}
input_min: 0
input_max: 1
input_step: 0.01
index: 10 # Place it right beneath partcooling fan controls
gcode:
    SET_FAN_SPEED FAN=Aux_Fan SPEED={menu.input}
